Makefile.in
autom4te.cache
aclocal.m4
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
.deps
*.o
*.lo
*.deps
*.libs
*.Plo
*.Po
*.la
*.so
*.dylib
.DS_Store
*.project
*.cproject
# Visual Studio
*.obj
*.tlog
*.log
*.lastbuildstate
*.filters
*.user
*.idb
*.pdb
